<!DOCTYPE html>
<html>

<head>
  <title>Comics by George Bougakov</title>
  <meta name="description" content="Comics about tech and other geeky things by George Bougakov">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  Redirecting you to <a href="<%= link %>">latest comic</a>
  <script>
  window.location.assign('<%= link %>')
  </script>
</body>

</html>